*.DS_Store
*.idea
*.iml
*.apk
*.ap_
*bin/
*.class
*.dex
*gen/
*local.properties
/cpp_rgb_depth_sync_example/.gradle/*
/cpp_rgb_depth_sync_example/app/build/*
/cpp_rgb_depth_sync_example/app/src/main/libs/*
/cpp_rgb_depth_sync_example/app/src/main/obj/*
/cpp_rgb_depth_sync_example/build/*
cpp_basic_examples/*